html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c5cff;
  /* The Joshua Indigo */
  font-family: 'Inter', sans-serif;
}

.overlay-text {
  position: absolute;
  pointer-events: none;
  z-index: 10;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}